{% extends "base.html" %}

{% block content %}
<style>
    .card-img-top {
        width: 100%;
        height: 15vw !important;
        object-fit: cover;
        /* Do not scale the image */
    }

    /* @media (max-width: 767px) {
        .card-img-top {
            height: auto !important;
        }
    }
    */
</style>
<!-- blogs -->
<section class="blog-section" id="posts">
    <div class="container mt-5">

        <div class="row mt-4">

            <h2 class="text-center mb-5 headings">Latest Alerts <i class="fa fa-exclamation-triangle text-danger"></i>
            </h2>


            {% for post in posts %}
            <div class="col-md-12 col-lg-3">
                <div class="card mb-4 post-card">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="Personal">
                    {% else %}
                    <img src="https://www.freeiconspng.com/uploads/no-image-icon-11.PNG" class="card-img-top"
                        alt="Personal">
                    {% endif %}

                    <div class="card-body">
                        <a data-bs-toggle="modal" data-bs-target="#postModal{{ post.id }}" class="view-modal">
                            <h6 class="fade-item mb-2">{{ post.title }}</h6>
                            <div class="d-flex justify-content-between location-date">
                                <div>
                                    <p class="text-uppercase badge rounded-pill bg-warning text-dark text-capitalize">
                                        {{post.location }}
                                    </p>
                                </div>
                                <div>
                                    <p>{{ post.created_at|date }}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div class="d-flex justify-content-start">
                                    <div>
                                        <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                                            class="poster-img" alt="Author">
                                    </div>
                                    <div>
                                        <p class="author mt-2 text-uppercase">
                                            <strong>BY <strong>
                                                </strong>{{ post.user }}</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="display-on-hover">
                                    <p class="badge rounded-pill bg-danger text-white text-capitalize">
                                        {{ post.category}}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- modal -->
            <div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" role="dialog"
                aria-labelledby="profileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="profileModalLabel">{{ post.title }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> -->
                        <div class="modal-body">
                            <p>
                                {{ post.content }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12 col-lg-12">
                <div class="card mb-4 post-card">
                    <div class="card-body text-center">
                        <h4 class="fade-item mb-2 text-danger">No Posts Alerts within Your Area!!!</h4>
                    </div>
                </div>
            </div>
            {% endfor %}






        </div>
    </div>
</section>
<!-- latest posts section  -->
{% endblock %}