{% extends "base.html" %}

{% block content %}
<style>
    .card-img-top {
        width: 100%;
        height: 15vw !important;
        object-fit: cover;
        /* Do not scale the image */
    }

    /* @media (max-width: 767px) {
        .card-img-top {
            height: auto !important;
        }
    }
    */
</style>
<!-- carousel -->
<div class="carousel slide" data-ride="carousel" id="carousel-1">
    <div class="carousel-inner">
        <div class="carousel-item active first ">
            <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron py-5 px-4 pt-5">
                <div class="content-carousel mt-4">
                    <h6>Nextdoor Community center</h6>
                    <h1 class="hero-title mt-3"><span class="main-color">Take note of your neighbours</span> <br>You Want To
                        See</h1>
                    <p class="hero-subtitle">Details on the huge Wamusyi show coming soon in Machakos on
                        january 5, 2022 </p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item second" id="carousel-2">
            <div class="bg-light border rounded border-light hero-technology carousel-hero jumbotron py-5 px-4">
                <div class="content-carousel mt-4">
                    <h6>Nextdoor Community center</h6>
                    <h1 class="hero-title mt-3"><span class="main-color">Take note of your neighbours</span> <br>You Want To
                        See</h1>
                    <p class="hero-subtitle">Details on the huge Wamusyi show coming soon in Machakos on
                        january 5, 2022 </p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item third" id="carousel-3">
            <div class="bg-light border rounded border-light hero-photography carousel-hero jumbotron py-5 px-4">
                <div class="content-carousel mt-4">
                    <h6>Nextdoor Community center</h6>
                    <h1 class="hero-title mt-3"><span class="main-color">Take note of your neighbours</span> <br>You Want To
                        See</h1>
                    <p class="hero-subtitle">Details on the huge Wamusyi show coming soon in Machakos on
                        january 5, 2022 </p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
            class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
    </ol>
</div>

<!-- blogs -->
<section class="blog-section" id="posts">
    <div class="container mt-5">

        <div class="row mt-4">

            



        </div>
    </div>
</section>
<!-- latest posts section  -->
{% endblock %}