{% extends "base.html" %}
{% block content %}
<style>
    .card {
        background: #fff none repeat scroll 0 0;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 1px;
        box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
        margin-bottom: 1px;
        padding: 1px 1px;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
    }

    .card:hover {
        box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
        background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
    }

    .profile .card-img-top {
        border-radius: 50% !important;
    }
</style>
<section class="profile container">
    <div class=" mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">

                    {% if profile.profile_pic %}
                    <img src="{{profile.profile_pic.url}}" alt="" class="card-img-top">
                    {%else%}
                    <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                        class="card-img-top" alt="My profile picture">
                    {% endif %}
                    <div class="card-body text-center">
                        <h4 class="card-text">
                            {{ user.first_name }} {{ user.last_name }}
                        </h4>
                        <p>{{ user.username }}</p>
                        <p>
                            {% if profile.location %}
                            <small class="badge rounded-pill bg-info text-white">{{ profile.location }}</small>
                            {% else %}
                            <span class="badge rounded-pill bg-info text-white">No location</span>
                            {% endif %}
                        </p>
                        
                        <h6>Joined on: <span class="badge rounded-pill bg-secondary text-white">
                                {{ user.date_joined|date }} </span></h6>

                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <div class="card p-2">
                            <button type="button" class="btn btn-lg m-3" data-toggle="modal"
                                data-target="#profileModal">
                                <i class="fa fa-plus text-white"></i> Update Profile
                            </button>
                            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog"
                                aria-labelledby="profileModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="profileModalLabel">Update Profile</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'update_profile' %}" method="POST"
                                                enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="name">First Name</label>
                                                            <input type="text" class="form-control" id="first_name"
                                                                name="first_name" value="{{ user.first_name }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="name">Last Name</label>
                                                            <input type="text" class="form-control" id="last_name"
                                                                name="last_name" value="{{ user.last_name }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="username">Username</label>
                                                            <input type="text" class="form-control" id="username"
                                                                name="username" value="{{ user.username }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="email">Nextdoor</label>
                                                            <select name="neighbourhood" id="neighbourhood"
                                                                class="form-control" required>
                                                                <option value="">Select Nextdoor</option>
                                                                {% for neighbourhood in neighbourhood %}
                                                                <option value="{{ neighbourhood.name }}">
                                                                    {{neighbourhood.name }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>

                                                        
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="email">Email</label>
                                                            <input type="email" class="form-control" id="email"
                                                                name="email" value="{{ user.email}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="email">Location</label>
                                                            <select name="location" id="location" class="form-control"
                                                                required>
                                                                <option value="">Select Location</option>
                                                                {% for location in locations %}
                                                                <option value="{{ location.name }}">{{ location.name }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                               
                                                <div class="form-group mb-3">
                                                    <label for="profile_pic">Profile Picture</label>
                                                    <input type="file" class="form-control" id="profile_pic"
                                                        name="profile_pic" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn">Update Account</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    
                    {% if danger %}
                        <div class="alert alert-danger" role="alert">
                            {{ danger }}
                        </div>
                    {% endif %}
                  
                    <!-- button to open add post modal -->
                    <div class="col-md-12">
                        <button type="button" class="btn btn-lg m-3" data-toggle="modal"
                            data-target="#exampleModal">
                            <i class="fa fa-plus text-white"></i> Add Post
                        </button>
                        <!-- modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'save_post' %}" method="post"
                                            enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group mb-3">
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control" value="" name="title" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="category">Category</label>
                                                <select name="category" id="category" class="form-control" required>
                                                    <option value="">--Select Option--</option>
                                                    {% for category in categories %}
                                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                                    {% endfor %}`
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-group mb-3">
                                                    <label for="email">Location</label>
                                                    <select name="location" id="location" class="form-control" required>
                                                        <option value="">Select Location</option>
                                                        {% for location in locations %}
                                                        <option value="{{ location.name }}">{{ location.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="exampleFormControlFile1">Photo</label>
                                                <input type="file" class="form-control" id="exampleFormControlFile1"
                                                    name="image">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="exampleFormControlTextarea1">Content</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                                    name="content" required></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card m-3">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                <tr>
                                    <th scope="row">
                                        {% if post.image %}
                                        <img src="{{ post.image.url }}" class="border-radius-around" alt="Image">
                                        {% else %}
                                        <img src="https://www.freeiconspng.com/uploads/no-image-icon-11.PNG" class="border-radius-around" alt="Image">
                                        {% endif %}

                                    </th>
                                    <td>{{ post.title }}</td>
                                    <td><span class="badge rounded-pill bg-info text-white">{{ post.category }}</span>
                                    </td>
                                    <td><span class="badge rounded-pill bg-secondary text-white">
                                            {{ post.location}}
                                        </span></td>
                                    
                                    <td>
                                        <!-- view button -->
                                        <a class="text-primary m-3" href="">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <!-- <a class="text-primary m-3" href="">
                                            <i class="fa fa-pen"></i>
                                        </a> -->
                                        <a class="text-danger" href="">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center text-danger">No Posts Created!</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- button to add business -->
                <div class="col-md-12">
                    <button type="button" class="btn btn-lg m-3" data-toggle="modal" data-target="#addBusiness">
                        <i class="fa fa-plus text-white"></i> Add Business
                    </button>
                    <!-- modal -->
                    <div class="modal fade" id="addBusiness" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Business</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'create_business' %}" method="post"
                                        enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group mb-3">
                                            <label for="title">Business Name</label>
                                            <input type="text" class="form-control" value="" name="name" required>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="title">Business Email</label>
                                            <input type="email" class="form-control" value="" name="email" required>
                                        </div>
                             
                                        <div class="form-group mt-3">
                                            <label for="description">Business Description</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                                name="description"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card m-3">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Nextdoor</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for business in businesses %}
                                <tr>
                                    <td>{{ business.name}}</td>
                                    <td>{{ business.email}}</td>
                                    <td>
                                        <span class="badge rounded-pill bg-info text-white">
                                            {{ business.nextdoor}}
                                        </span>
                                    </td>
                                   
                                    <td>
                                        <!-- view button -->
                                        <a class="text-primary m-3" href="">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="text-danger" href="">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center text-danger">No Businesses Created!</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- button to add contacts -->
                <div class="col-md-12">
                    <button type="button" class="btn btn-lg m-3" data-toggle="modal" data-target="#addContact">
                        <i class="fa fa-plus text-white"></i> Add Contact
                    </button>
                    <!-- modal -->
                    <div class="modal fade" id="addContact" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'create_contact' %}" method="post"
                                        enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group mb-3">
                                            <label for="title">Name</label>
                                            <input type="text" class="form-control" value="" name="name" required>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="title">Email</label>
                                            <input type="email" class="form-control" value="" name="email" required>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="title">Phone</label>
                                            <input type="number" class="form-control" value="" name="phone" required>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card m-3">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Nextdoor</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                <tr>
                                    <td>{{ contact.name}}</td>
                                    <td>{{ contact.email}}</td>
                                    <td>{{ contact.phone}}</td>
                                    <td>
                                        <span class="badge rounded-pill bg-info text-white">
                                            {{ contact.nextdoor}}
                                        </span>
                                    </td>
                                    <!-- <td><a href="{{ image.url }}" target="_blank" class="text-primary"
                                            rel="noopener noreferrer">View
                                            Site</a></td> -->
                                    <td>
                                        <!-- view button -->
                                        <a class="text-primary m-3" href="">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="text-danger" href="">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center text-danger">No Contacts Created!</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>
    </div>
    </div>
</section>
{% endblock %}