{% extends 'registration/base.html' %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/static/image/undraw_Social_share_re_qb4v.png" width="600px" height="600" alt="/">
      </div>
      <div class="col-md-4">
        <h4 class="text-center">You have been logged out Successfully</h4>
        <p> Return Home <a class="nav-link nav" href="/"><i class="fa fa-home"></i> </a>or login again</p>

        
      </div>
      <div class="col-md-4">
        
          <img src="/static/image/undraw_Social_influencer_re_beim.png" width="600px" height="600" alt="/">
              
      </div>
    </div>

  </div>

{% endblock %}